<h1>Stream Manipulation methods Part 1</h1>

<h4 *ngIf="showAuditTime">The AuditTime Method</h4>
<p *ngIf="showAuditTime">
  {{auditTimeResult}}
</p>

<h4 *ngIf="showBuffer">The Buffer Method</h4>
<p *ngIf="showBuffer">
  {{bufferResult}}
</p>

<h4 *ngIf="showCatch">The Catch Method</h4>
<p *ngIf="showCatch">
  {{catchResult}}
</p>

<h4 *ngIf="showCombineAll">The CombineAll Method</h4>
<p *ngIf="showCombineAll">
  {{combineAllResult}}
</p>

<h4 *ngIf="showConcat">The Concat Method</h4>
<p *ngIf="showConcat">
  {{concatResult}}
</p>

<h4 *ngIf="showCount">The Count Method</h4>
<p *ngIf="showCount">
  {{countResult}}
</p>

<h4 *ngIf="showDebounceTime">The DebounceTime Method</h4>
<p *ngIf="showDebounceTime">
  {{debounceTimeResult}}
</p>

<h4 *ngIf="showDefaultIfEmpty">The DefaultIfEmpty Method</h4>
<p *ngIf="showDefaultIfEmpty">
  {{defaultIfEmptyResult}}
</p>

<h4 *ngIf="showDelayOne">The Delay Method - Using milliseconds</h4>
<p *ngIf="showDelayOne">
  {{delayOneResult}}
</p>

<h4 *ngIf="showDelayTwo">The Delay Method - Using date</h4>
<p *ngIf="showDelayTwo">
  {{delayTwoResult}}
</p>

<h4 *ngIf="showDistinctOne">The Distinct Method - Just removing duplicates</h4>
<p *ngIf="showDistinctOne">
  {{distinctOneResult}}
</p>

<h4 *ngIf="showDistinctTwo">The Distinct Method - Removing duplicates and columns</h4>
<p *ngIf="showDistinctTwo">
  {{distinctTwoResult}}
</p>

<h4 *ngIf="showDo">The Do Method</h4>
<p *ngIf="showDo">
  {{doResult}}
</p>

<h4 *ngIf="showElementAt">The ElementAt Method</h4>
<p *ngIf="showElementAt">
  {{elementAtResult}}
</p>